# Environment variables
.env

# Byte-compiled / optimized / Python
__pycache__/
*.py[cod]
*$py.class

# Node (in case you use npm in the future)
node_modules/
dist/

# IDE
.vscode/
.idea/

# Docker (optional, useful if you generate local volumes)
docker-compose.override.yml